.container {
  margin: auto;
}

.logo_scb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.title {
  font-size: 12px;
  color: gray;
  margin-bottom: 18px;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  /* CSS styles for mobile devices */
}

/* iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 350px;
  }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 350px;
  }
}

/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container {
    max-width: 350px;
  }
}

/* Extra large screens, TV */
@media screen and (min-width: 1201px) {
  .container {
    max-width: 350px;
  }
}
