.title {
  padding-top: 16px;
}

.section_row {
  display: flex;
  flex-direction: row;
}

.income {
  width: 50%;
  padding: 0 14px 0 14px;
}

.debt {
  width: 50%;
  padding: 0 14px 0 14px;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .section_row {
    flex-direction: column;
  }
  .income {
    width: auto;
    padding-bottom: 14px;
  }
  .debt {
    width: auto;
  }
}

/* iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS styles for iPads, Tablets */
}
