.bundle_row {
  display: flex;
}

.bundle {
  width: auto;
  flex: 1;
  padding-left: 14px;
  padding-right: 14px;
}

.bundle_title {
  padding-top: 24px;
}

.divider {
  display: none;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .bundle_row {
    flex-direction: column;
  }
  .bundles_list {
    overflow: auto;
    max-height: 50vh;
  }

  .divider {
    display: block;
    margin: 20px 0px;
  }
}
